html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Helvetica'
}
.swiper-container {
	width: 100%;
	height: 100%;
	min-height: 740px;
}
.swiper-slide {
	background-image: url("../image/bg.png");
	color: white;
	position: relative;
	/*background: #d7d7d7;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#f0f0f0), to(#bebebe));
	background: -webkit-radial-gradient(#f0f0f0, #bebebe);
	background: -moz-radial-gradient(#f0f0f0, #bebebe);
	background: -o-radial-gradient(#f0f0f0, #bebebe);
	background: radial-gradient(#f0f0f0, #bebebe);
	-webkit-font-smoothing: antialiased;*/
}
#loading {
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
}

.bigTitle{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -180px;
	text-align: center;
	font-size: 20em;
}

.normalTitle{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -130px;
	text-align: center;
	font-size: 7em;
	line-height: 1.5em;
}

.normalTitle em{
	padding: 0 80px;
	font-size: 1.4em;
	font-style: normal;
	color: #f06000;
}

.numTitle{
	font-size: 3em;
	position: absolute;
	left: 27%;
	top: 25%;
}

.xn .normalTitle{
	font-size: 20em;
	margin-top: -240px;
}

.block{
	width: 10%;
	height: 60%;
	background-color: #ff00ff;
	position: absolute;
	top: 20%;
	left: 0;
	border-radius: 5px;
	box-shadow: 0 0 50px black;
}

.blocks:after{
	content: '+';
	position: absolute;
	right: -41%;
	font-size: 8em;
	top: 37%;
}

.block .num{
	font-size: 15em;
	width: 100%;
	text-align: center;
	margin-top: 45%;
}

.block .desc{
	font-size: 3em;
	width: 100%;
	text-align: center;
	margin-top: 30%;
}

.list{
	width: 60%;
	margin-left: 17%;
	margin-top: 7em;
	font-size: 4em;
}

.list li{
	opacity: 0;
	line-height: 1.5em;
}

#renwulist, #hefanlist{
	width: 80%;
	margin-left: 11%;
	margin-top: 3em;
	font-size: 4em;
}

#renwulist em, #hefanlist em{
	color: #f06000;
	padding: 0 10px;
}

.story-img{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 80%;
	margin-left: -40%;
	margin-top: -15%;
	border-radius: 5px;
	box-shadow: 1px 1px 60px black;
}

.story-img:after {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 30px;
	bottom: -31px;
	left: 0;
 
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
 
	background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,0)));
	background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,0) 100%);
}

.tl .spot{
	position: absolute;
	bottom: 7%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 1);
	left: 10%;
	margin-left: -50px;
	z-index: 10;
}

.tl .spot:before{
	content: ' ';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 50%;
	background-color: #f06000;
	z-index: 10;
}

.tl:after{
	content: ' ';
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	height: 20px;
	background-color: rgba(255, 255, 255, 0.8);
}

.logo{
	box-shadow: none;
	border-radius: 0;
	height: 65%;
}

#slogen {
	text-align: center;
	font-size: 6em;
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	opacity: 0;
	font-family: cursive;
}

.content{
	background-color: rgba(255,255,255, 0.3);
	padding: 2em 0;
	position: absolute;
	left: 9%;
	top: 23%;
	border-radius: 20px;
	width: 2000px;
	overflow: hidden;
}

.content h1 {
	margin: 50px 100px 50px;
	font-size: 5em;
}

.content h3 {
	margin: 0 100px 50px;
	font-size: 3em;
	line-height: 1.5em
}

#shengchan .normalTitle{
	font-size: 5em;
	margin-top: -270px;
}

#shengchan .normalTitle em{
	padding: 0 0 0 80px;
	font-size: 2.8em;
	font-style: normal;
	color: #f06000;
	line-height: 1.1em;
}

#shengchan .normalTitle em.unit{
	padding: 0;
	font-size: 2.8em;
	font-style: normal;
	color: white;
	line-height: 1.1em;
}

.storyjs-embed, .vco-storyjs{
	background-color: transparent !important;
}

.vco-storyjs h1, .vco-storyjs h2, .vco-storyjs h3, .vco-storyjs h4, .vco-storyjs h5, .vco-storyjs h6{
	color: white !important;
}

.vco-storyjs .vco-feature p{
	color: #ddd !important;
}

.vco-slider .nav-previous, .vco-slider .nav-next{
	color: #aaa !important;
}

.vco-notouch .vco-slider .nav-previous:hover, .vco-notouch .vco-slider .nav-next:hover{
	color: #eee !important;
}

.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h3{
	color: #333 !important;
}

.vco-storyjs h2.start{
	font-size: 5em !important;
	margin-bottom: 1em !important;
}

.vco-slider .slider-item .content .content-container .text .container p{
	font-size: 3em;
	line-height: 1.2em !important;
}